// winthatch.rc

#include <windows.h>
#include "winthatch.hpp"

winthatch            ICON    DISCARDABLE "winthatch.ico"
IDR_TOOLBAR_BITMAP BITMAP  MOVEABLE PURE "winthatch.bmp"

HelpDlg DIALOG DISCARDABLE 20, 20, 100, 94
STYLE DS_MODALFRAME | WS_POPUP
CAPTION "WinThatch Help"
FONT 8, "MS Sans Serif"
{
    ICON            "winthatch", IDC_STATIC,         4,  8, 24, 24
    CTEXT           "",          IDC_VERSION,       30,  4, 70,  8
    CTEXT           "based on",  IDC_STATIC,        30, 12, 70,  8
    CTEXT           "",          IDC_STASM_VERSION, 30, 20  70,  8
    DEFPUSHBUTTON  "readme",     IDC_README,        34, 38, 30, 14
    DEFPUSHBUTTON  "website",    IDC_WEBSITE,       34, 56, 30, 14
    DEFPUSHBUTTON  "OK",         IDOK,              34, 74, 30, 14
}
